body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(#0f866d, #1390e4);
    font-family: 'Times New Roman', Times, serif;
}

.dev_errores{
    padding-left: 10%;
    color: red;
}

.bloque{
    border-radius: 4%  4%  4%  4%;
    -moz-border-radius:  4%  4%  4%  4%;
    -webkit-border-radius:  4%  4%  4%  4%;
    width: 23%;
    height: auto;
    padding: 2% 0%;
    border: 5px solid #ffffff;
    position: absolute;
    top: 25%;
    left: 37%;
    background-color:#87CEEB;
    max-width: 100%;
}
.logo{
    position: absolute;
    top:36%;
    left: 3%;
    height: auto;
    max-width: 100%;
    width:33%;
}
.mascota{
    position: absolute;
    height: auto;
    max-width: 100%;
    width: 25%;
    left: 64%;
    top:26%;
}
.encabezado{
    color: white;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    position: absolute;
    top:24%;
    left:44%;
    z-index: 1;


}
.user{
    max-width: 100%;
    width: 50%;
    height: auto;
    padding: 2% 9%;
    margin-left: 20%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.pass{
    max-width: 100%;
    width: 50%;
    padding: 2% 3%;
    margin-left: 20%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 50%;
    padding: 3% 4%;
    margin-top: 1%;
    background-color: #87CEEB;
    margin-left: 20%;
    display: inline-block;
    border: 3% solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1vw;
  }
.newUser{
    position: absolute;
    top:94%;
    left:23%

}
.usuario{
    position: absolute;
    top:20.5%;
    left:8%;
    width: 7%;
    height: auto;
}
.apellido{
    position: absolute;
    top:30.5%;
    left:8%;
    max-width: 100%;
    width: 7%;
    height: auto;  
}
.correo{
    position: absolute;
    top:45.5%;
    left:8%;
    max-width: 100%;
    width: 7%;
    height: auto;  
}
.usuario2{
    position: absolute;
    top:55%;
    left:8%;
    max-width: 100%;
    width: 7%;
    height: auto;
}
.rest{
    position: absolute;
    top:63%;
    left:8%;
    max-width: 100%;
    width: 7%;
    height: auto;
}
.correcto{
    position: absolute;
    top:74%;
    left:4%;
    max-width: 100%;
    width: 4%;
    height: auto;
}
.contraseña{
    position: absolute;
    top:72%;
    left:8%;
    max-width: 100%;
    width: 7%;
    height: auto;
}
  
.formulario{
    margin-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
}
